
.ui-dev-section { padding-top: 1rem; border-top: 8px solid $gray-400;}
.ui-dev-section-subheading { padding-top: 1rem; border-top: 1px solid $gray-400; color:$gray-500; font-size: 1.2rem; text-transform: uppercase;}

.ui-dev-white { background-color: $white; }
.ui-dev-gray-100{ background-color: $gray-100;}
.ui-dev-gray-200{ background-color: $gray-200;}
.ui-dev-gray-300{ background-color: $gray-300;}
.ui-dev-gray-400{ background-color: $gray-400;}
.ui-dev-gray-500{ background-color: $gray-500;}
.ui-dev-gray-600{ background-color: $gray-600;}
.ui-dev-gray-700{ background-color: $gray-700;}
.ui-dev-gray-800{ background-color: $gray-800;}
.ui-dev-gray-900{ background-color: $gray-900;}
.ui-dev-black { background-color: $black;}

.ui-dev-blue { background-color: $blue; }
.ui-dev-indigo { background-color: $indigo; }
.ui-dev-purple { background-color: $purple; }
.ui-dev-pink { background-color: $pink; }
.ui-dev-red { background-color: $red; }
.ui-dev-orange { background-color: $orange; }
.ui-dev-yellow { background-color: $yellow; }
.ui-dev-green { background-color: $green; }
.ui-dev-teal { background-color: $teal; }
.ui-dev-cyan { background-color: $cyan; }


.ui-dev-bodybgcolor { background-color: $body-bg; }
.ui-dev-bodytxtcolor { color: $body-color; }

.ui-dev-font-weight-light {font-weight: $font-weight-light !important;}
.ui-dev-font-weight-normal {font-weight: $font-weight-normal !important;}
.ui-dev-font-weight-bold {font-weight: $font-weight-bold !important;}
